<a class="inline-block hover:text-scheme-accent text-base items-center justify-center {% if settings.links_show_underline %}border-b-text border-scheme-text hover:border-scheme-accent pb-1{% endif %}" href="{{ link }}" data-color-scheme="{{ section_color }}">
  <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ text }}{% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}</span>
</a>
